body {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    background-color: #fff; 
}

nav {
    padding: 10px;
}

nav a {
    text-decoration: none;
    margin-right: 10px;
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    padding-top: 20px;
}